<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Especificaciones del Servicio de Acceso a Internet Fijo Tarifa Plana</title>
<style>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
  }
  .container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
  h1 {
    text-align: center;
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 10px;
    color: #666;
    font-size: 16px;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
  li {
    margin-bottom: 5px;
  }
  a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  .note {
    background-color: #f0f9ff;
    border-left: 5px solid #007bff;
    padding: 10px;
    margin-bottom: 20px;
  }
  .section-box {
    border-left: 5px solid #4CAF50; /* Verde */
    padding: 15px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
  }
</style>
</head>
<body>
<div class="container">
  <h1>Especificaciones del Servicio de Acceso a Internet Fijo Tarifa Plana</h1>
  <p>Las especificaciones que se detallan a continuaci&oacute;n integran el Contrato/Solicitud Nro: <b>#Nro Contrato#<</b>
suscrito en el d&iacute;a de la fecha.</p>
  <div class="section-box">
    <p><strong>Nombre del Plan:</strong> Fibra Entretenimiento Premium</p>
     <p><strong>Tarifa mensual:</strong> ${{importe}}</p>
    <p><strong>Tarifa de conexi&oacute;n:</strong> ${{tarifaconexion}} {{condiciones}}.</p>
    <p><strong>Velocidad m&aacute;xima alcanzable hacia el cliente (Downstream):</strong> 650 Mbps</p>
    <p><strong>Velocidad m&aacute;xima alcanzable desde el cliente (Upstream):</strong> 40 Mbps</p>
    <p><strong>Velocidad superando los 800 Gigas de tr&aacute;fico:</strong> 12/1 Mbps</p>
    <p><strong>Per&iacute;odo de contrato:</strong> 2 a&ntilde;os</p>
    <p><strong>Tel&eacute;fono Asociado:</strong> #Teléfono ADSL#</p>
    <p><strong>Suscripci&oacute;n Incluida (*):</strong> DISNEY+</p>
    <p><strong>Cuota Mensual B&aacute;sica de Telefon&iacute;a Fija (**):</strong> De regalo</p>
    <p><strong>20.000 c&oacute;mputos para llamadas a Telefon&iacute;a Fija (**):</strong> De regalo</p>
    <p><strong>Precios con impuestos incluidos.</strong></p>
  </div>
 <div class="note">

    <p>(*) Se podrá acceder a las suscripciones incluidas mientras se encuentre dentro del periodo del contrato. El uso por parte del cliente está sujeto a la aceptación de los términos y condiciones de Disney+, incluyendo cualquier actualización de los mismos, disponibles en <a href="https://www.disneyplus.com/es-419/legal/subscriber-agreement">https://www.disneyplus.com/es-419/legal/subscriber-agreement</a></p>

    <p>(*) Aplica a clientes residenciales con tarifa residencial o profesional.
    El servicio es provisto para uso personal, estando prohibido su uso con fines comerciales.
    Beneficio exclusivo dentro del territorio nacional para clientes de Antel que se encuentren al día
    con su factura. Consulte las condiciones en <a href="https://www.antel.com.uy/disneyplus">https://www.antel.com.uy/disneyplus</a></p>

    <p>(**) El beneficio aplica a clientes residenciales y particulares. El tel&eacute;fono fijo y el contrato de Internet deber&aacute;n estar a nombre del mismo titular.</p>

    <p>En caso de cambio de plan, para conocer si el nuevo producto ya est&aacute; activo, debe acceder a <a href="https://www.antel.com.uy">www.antel.com.uy</a>, Antel en l&iacute;nea/Internet/ Consulta servicio de acceso a internet activo. Debe proporcionar el servicio telef&oacute;nico asociado al servicio de datos y el documento de identidad del titular del servicio.</p>
    
    <p>Podr&aacute; consultar el consumo de su servicio en el portal <a href="https://www.antel.com.uy/miantel">www.antel.com.uy/miantel</a>.</p>
    
    <p>En las contrataciones no presenciales el consumidor podr&aacute; ejercer el derecho consagrado en el art&iacute;culo 16 de la Ley 17.250, dentro de los cinco d&iacute;as h&aacute;biles siguientes a la contrataci&oacute;n del servicio o entrega del producto, cumpliendo en todo, con las condiciones establecidas en dicha norma.</p>
    
    <p>El Reglamento de Servicios de ANTEL y las Condiciones de Contrataci&oacute;n forman parte de este documento y pueden consultarse en la Web de ANTEL <a href="https://www.antel.com.uy">www.antel.com.uy</a>, en los Locales Comerciales y/o Tiendas.</p>
    
    <p>Los cargos mensuales establecidos en el contrato ser&aacute;n modificados autom&aacute;ticamente de conformidad con lo dispuesto en el Art. 12 del Decreto Ley N°14.235 de 25 de julio de 1974 en la redacci&oacute;n dada por el Art. 13 de la Ley N° 16.211 del 1 de octubre de 1991.</p>
    
    <p>El documento original es entregado al cliente en el mismo acto de su suscripci&oacute;n. Se guarda copia fiel del original.</p>
</div>
 <div class="note">
    <h3 style="color: #007bff;">Gu&iacute;as para la Activaci&oacute;n de Servicios y Canje de Cupones</h3>
     <p><b>Recuerde que, si en un plazo de 7 d&iacute;as h&aacute;biles no recibe los cupones correspondientes a las promociones vigentes, deber&aacute; comunicarse con su ejecutivo antes de que transcurran 30 d&iacute;as para solicitar el reenv&iacute;o.<br><br>Pasado ese plazo, no podremos realizar el reenv&iacute;o. El canje de los cupones correspondientes a equipos, se encuentran sujetos a disponibilidad de stock.</b></p>
    <p>En esta secci&oacute;n, encontrar&aacute;s documentos detallados para realizar activaciones y canjes de forma r&aacute;pida y sencilla. Estos incluyen:</p>
    <ul>
      <li><p><strong>Gu&iacute;a para la activaci&oacute;n de Diney+:</strong> <a href="https://servicios.netgate.com.uy/static/pdf/Activacion_Disney.pdf" target='_blank'>aqu&iacute;</a> encontrar&aacute;s los pasos para activar tu suscripci&oacute;n.</p></li>
      <li><p><strong>Gu&iacute;a para el Canje de Antel Box en Tienda en L&iacute;nea:</strong> <a href="https://servicios.netgate.com.uy/static/anexos/canje-cupon-antelbox-v2.pdf" target='_blank'>aqu&iacute;</a> encontrar&aacute;s los pasos para agregar el producto al carrito, aplicar cupones y gestionar pagos y env&iacute;os.</p></li>
      <li><strong><p>Gu&iacute;a para crear usuario TuID:</strong> <a href="https://www.antel.com.uy/personas/novedades/con-tuid-gestiona-tus-servicios-en-miantel" target='_blank'>aqu&iacute;</a> encontrar&aacute;s el procedimiento para crear el usuario TuID.</p></li>
    </ul>
    </ul>
    <p>Acced&eacute; o descarg&aacute; el archivo correspondiente y sigue los pasos indicados para completar el proceso con &eacute;xito.</p>
    <p>Vendedor: {{nombre_vendedor}} - {{mail_vendedor}} - 27126666 int. {{interno_vendedor}}</p>
  </div>
</body>
</html>